/* @import url("https://use.typekit.net/jmk3xov.css"); */


/* canvas {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(15, 15, 15, 0.95)
  
} */

  
:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 20px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  width: 90%;
  margin: auto;
  background-color: rgba(15, 15, 15, 0.95);
}

main {
  color: white;
  z-index: 99;
  width: 100%;  
  display: flex;
}

nav {
  position: fixed;
  width: 90%;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  height: 120px;
  display: flex;
  justify-content: center;
}



a:link{text-decoration: none;}
a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
a:active{text-decoration: none;}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.span_name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dennis_anchor{
  padding-right: 20px;
}

.projects_anchor{
  font-size: large;
  padding-right: 20px;
}

.code_anchor {
  font-size: large;
  padding-right: 20px;
}

.linkedin {
  font-size: large;
}

.dennis {
  display: flex;
  color: white;
  float: right;
  padding-top: 35px;
}

.content {
  justify-content: center;
  margin: auto;
}

.about {
  width: 900px;
}

h1 {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.projects {
  width: 900px;
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  overflow-y: hidden;
} 

.projects a {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 50px;
}


header {
  font-size: 1.5rem;
  height: 100vh;
  padding-top: 45vh;
}

.header {
  position: relative;
}

.header .title {
  position: absolute;
}


section {
  font-size: 1.25rem;
  line-height: 1.5;
  align-items: center; 
  justify-content: center;
}


footer {
  color: white;
  display: flex;
  font-size: large;
  justify-content: center;
  height: 75px;
  align-items: center;
}

