/* @import url("https://use.typekit.net/jmk3xov.css"); */


/* canvas {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(15, 15, 15, 0.95)
  
} */

  
:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 20px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  width: 90%;
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
  background-color: rgba(15, 15, 15, 0.95);
  
}

main {
  color: white;
  z-index: 99;
  width: 100%;
}

nav {
  position: fixed;
  width: 90%;
  /* background-color: rgba(15, 15, 15, 0.60); */
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  
}

a:link{text-decoration: none;}
a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
a:active{text-decoration: none;}

.name {
  display: flex;
  justify-content: center;
}

.dennis {
  color: white;
}

.content {
  padding-top: 100px;
}

.about {
  width: 600px;
  text-align: center;
  margin:auto;
}



h1, h2 {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}


span {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  overflow-y: hidden;
  
} 

span a {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 50px;
}


header {
  /* background: var(--dark-bg); */
  text-align: center;
  font-size: 1.5rem;
  padding: 0rem;
  /* width: 1000px; */
  /* margin:auto; */
 
}

section {
  padding: 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  align-items: center; 
  justify-content: center;
}

blockquote {
  margin: 0;
  padding: 0;
  margin-bottom: var(--spacing);
}

footer {
  color: white;
  display: flex;
  font-size: large;
  justify-content: center;
  height: 75px;
  align-items: center;
}

