body {
    background-color: rgba(15, 15, 15, 0.95);
}

main {
    color: white;
    width: 100%;
  }

header {
 
  font-size: 1.5rem;
  padding: 0rem;
  height: 100px;
  color: white;
  text-align: center;
}

header h1 {
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    width: 300px;
    margin: 0 auto;
    padding-top: 30px;
}

nav {
    display: flex;
    margin-top: 50px;
    padding-right: 200px;
    float: right;
}