:root {
    --dark-bg: rgba(15, 15, 15, 0.95);
    /* --spacing: 20px; */
  
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal;
  }

body {
    background-color: rgba(31, 28, 28, 0.95);
    display: flex;
    margin: auto;
    width: 90%;
}

main {
    color: white;
    z-index: 99;
    width: 100%;
  }

nav {
    position: fixed;
    width: 90%;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    height: 125px;
    display: flex;
    justify-content: center;
    /* border: 4px solid blue; */
  }
  
  a:link{text-decoration: none;}
  a:visited{text-decoration: none;}
  a:hover{text-decoration: none;}
  a:active{text-decoration: none;}

  a {
    color: inherit;
    text-decoration: inherit;
  }
  
  .name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .span_name {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 4px solid white; */
  }
  
  .dennis_anchor{
    padding-right: 20px;
    height: 100%;
    align-items: center;
  }
  .dennis_anchor span{
    display: flex;
    align-items: center;
    height: 100%;
  }

  .dennis_anchor span img {
    padding-right: 10px;
  }

  .names {
    display: flex;
    align-items: center;
  }
  
  .projects_anchor{
    font-size: 120%;
    padding-right: 20px;
    text-decoration: none;
  }
  
  .code_anchor {
    padding-right: 20px;
  }
  
  .linkedin {
    font-size: large;
  }
  
  .dennis {
    color: white;
    padding-right: 10px; 
    font-size: 100%;
  }

  .devries {
    color: white;
    font-size: 100%;
  }

.wrapper {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
}



.pycruise_home {
    width: 90%;
    margin: auto;
    padding-top: 10vh;
    display: flex;
    justify-content: center;
}

.pycruise_home img {
    width: 35vh;   
}

.pycruise_home p {
    font-size: 150%;
    display: flex;
    align-items: center;
    width: 40vh;
    margin-left: 10vh;
}

.features {
    padding-top: 200px;
    width: 100%;
    /* max-width: 1500px; */
    display: flex;
    flex-direction: column;
    /* border: 4px solid blue; */
}

.features h2 {
    /* border: 4px solid white; */
    text-align: center;
    font-size: 250%;
}

.feature {
    width: 60%;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    padding-top: 100px;
    /* border: 4px solid white; */
}

.feature h3 {
    display: flex;
    align-items: center;
    font-size: 3vh;
    /* border: 4px solid white; */
}

.feature_heading {
    margin: 0 auto;
    align-items: center;
    width: 30vh;
    padding-right: 10vh;
    /* border: 4px solid white; */
}

.feature_heading img {
    width: 40vh;
}

.feature_list{
    /* float: right; */
    width: 50vh;
    /* font-size: x-large; */
    font-size: 150%;
    /* margin-left: 10vh; */
    /* border: 4px solid white; */
}


footer {
    color: white;
    display: flex;
    font-size: large;
    justify-content: center;
    height: 75px;
    align-items: center;
}

@media screen and (max-width: 1600px){
    .feature {
        width: 90%;
        display: flex;
        height: auto;
        flex-direction: column;
        justify-content: center;
        /* margin: auto; */
    }
    .feature_heading {
        width: 80%;
        margin: auto;
        padding-right: 0;
    }
    .feature_heading img {
        width: 50%;
        display: flex;
        justify-content: center;
        margin: auto;
    }
    .feature_list{    
        display: flex;
        flex-direction: column;    
        margin-left: 0;   
        width: 70%;
        justify-content: center;     
    }
    
    
    
}

@media screen and (max-width: 1200px){
    .feature {
        width: 100%;
        display: flex;
        height: auto;
        flex-direction: column;
        justify-content: center;
        /* margin: auto; */
    }
    .feature_heading {
        width: 80%;
        margin: auto;
        padding-right: 0;
    }
    .feature_heading img {
        width: 70%;
        display: flex;
        justify-content: center;
        margin: auto;
    }
    .feature_list{    
        display: flex;
        flex-direction: column;    
        margin-left: 0;   
        width: 70%;
        justify-content: center;     
    }
    .feature_list p {
        margin-bottom: 0;
    }
    
}

@media screen and (max-width: 800px){
    .feature {
        width: 100%;
        display: flex;
        height: 80%;
        flex-direction: column;
        justify-content: center;
        /* margin: auto; */
    }
    .feature_heading {
        width: 80%;
        margin: auto;
        padding-right: 0;
    }
    .feature_heading img {
        width: 90%;
        display: flex;
        justify-content: center;
        /* margin: auto; */
    }
    .feature_list{    
        display: flex;
        flex-direction: column;    
        margin-left: 0;   
        width: 90%;
        justify-content: center;  
        font-size: 100%;   
    }
    .feature_list p {
        margin-bottom: 0;
    }
    .names {
        display: flex;
        flex-direction: column;
      }
    
      .devries {margin-top: 0; padding-top: 0; margin-bottom: 0;}
    
    
      .dennis {
        font-size: 100%;
        /* margin-top: 33px; */
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;
        margin-top: 0;
      }
      .pycruise_home {
        width: 90%;
        /* margin: auto; */
        /* padding-top: 20vh; */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .pycruise_home img {
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
        margin: auto;
        width: 50%;
    }
    .pycruise_home p {
        margin: auto;
        text-align: center;
        width: 60%;
    }
    
}


